@page
@using STProject.Models.Community
@model CommunityFormModel
@{
    ViewData["Title"] = "Community Add";
}

<div class="row">
    <h3 class="text-center mb-4">Create your OWN community:</h3>
    <div class="col-sm-12 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6">
        <form method="post">
            <div class="text-center form-group">
                <label asp-for="Name"></label>
                <input asp-for="Name" class="form-control" placeholder="Sakura Haruno - Anime Figure / Bleach - Poster / Mikasa Akerman - Plush">
                <span asp-validation-for="Name" class="small text-danger"></span>
            </div>
            <br />
            <div class="text-center form-group">
                <label asp-for="Description"></label>
                <input asp-for="Description" class="form-control" placeholder="Figure of Orochimaru; heigth: 31cm; weight; 300grams">
                <span asp-validation-for="Description" class="small text-danger"></span>
            </div>
            <br />
            <div class="text-center form-group">
                <label asp-for="ImageUrl"></label>
                <input asp-for="ImageUrl" class="form-control" placeholder="Figure of Orochimaru; heigth: 31cm; weight; 300grams">
                <span asp-validation-for="ImageUrl" class="small text-danger"></span>
            </div>
            <br />
            <div class="text-center form-group">
                <label> Choose a category</label>
                <select asp-for="CategoryId" class="form-control">
                    <option value="1">Категория 1</option>
                    <option value="2">Категория 2</option>
                </select>
            </div>
            <br />
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                    Private
                </label>
            </div>
            <br />
            <input class="btn btn-primary" type="submit" value="Submit" />
        </form>
    </div>
</div>