@page
@model STProject.Pages.Community.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<main role="main">

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
        <div class="container">
            <h2 class="display-3">Welcome to @Model.Community.Name !</h2>
            <h3>@Model.Community.Description</h3>
            <a class="btn btn-success mt-4" href="/Community/AddPost?communityId=@Model.Community.Id">Add Post</a>
        </div>
    </div>

    <div class="container mt-3">
        <!-- Example row of columns -->
        <div class="row">
            @foreach (var post in Model.Posts)
            {
                <div class="col-md-4">
                    <h2>@post.Title</h2>
                    <p>@post.Content</p>
                    <p><a href="/PostComments/CreateComment?postId=@post.Id" class="btn btn-secondary">View details »</a></p>
                </div>     
            }
        </div>

        <hr>

    </div> <!-- /container -->

</main>